<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{% block title %}Index{% endblock title %} :: Timelapse</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {% block style %}
  {% endblock style %}

  {% block scripts %}
  {% endblock scripts %}
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('index') }}#">Timelapse</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <li><a href="{{ url_for('users') }}">Users</a></li>
        <li><a href="{{ url_for('timelapses') }}">Timelapses</a></li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock content %}
</body>
